Repository temp220619/organization1, pull requests merged in 2022-06, with the labels that each got.

#8 #7 Docs : README에 햄버거 추가
  README.md
  back/README.md
  front/README.md
Labels: front, docs

#14 #13 Refact. Issue 자동화 코드 추가
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🛠️ Refact, 🌼Front, ⚡Back

#16 ver 1.1. 개발 완료
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  front/README.md
Labels: 🌼Front, ⚡Back

#19 Docs/17
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  back/README.md
  front/README.md
Labels: ⚡Back, 📄Docs

#20 #18 Docs : git practice README 추가
  front/README.md
Labels: 🌼Front, 📄Docs

#22 #21 Feat. 로그인 기능 - JWT 인증/인가 필터 체인 추가
  back/hello.js
Labels: ⚡Back, 🧩 Feat

#24 #23 Docs. README 추가
  back/README.md
Labels: ⚡Back, 📄Docs

#26 #25 Docs. README 수정
  front/README.md
Labels: 🌼Front, 📄Docs

#31 #27 Style. 로그인 기능 수정
  back/hello.js
Labels: ⚡Back, 🎨 Style

#35 #32 Docs. README 내용 추가
  back/README.md
Labels: ⚡Back, 📄Docs

#38 #37 Style. Readme 스타일 수정
  back/README.md
Labels: ⚡Back, 🎨 Style

#40 #36 Feat. 초기 세팅 설정
  back/demo/.gitignore
  back/demo/.mvn/wrapper/maven-wrapper.jar
  back/demo/.mvn/wrapper/maven-wrapper.properties
  back/demo/mvnw
  back/demo/mvnw.cmd
  back/demo/pom.xml
  back/demo/src/main/java/com/ssafy/test/DemoApplication.java
  back/demo/src/main/java/com/ssafy/test/DemoApplication.java.bak
  back/demo/src/main/resources/application.properties
  back/demo/src/test/java/com/ssafy/test/DemoApplicationTests.java
  front/README.md
Labels: ⚡Back, 🧩 Feat

#42 #41 Docs. 새로운 문서 writeme 추가
  back/WRITEME.md
Labels: ⚡Back, 📄Docs
